@model Information
@{
    Meta meta = ViewBag.MetaTags;
    ViewBag.Title = meta.MetaTitle;
    ViewBag.Description = meta.MetaDescription;
    ViewBag.Keywords = meta.MetaKeywords;
    Information AboutMe = ViewBag.AboutMe;
    Information skills = ViewBag.Skills;
    Information experience = ViewBag.Experience;
    Information education = ViewBag.Education;
}

<!-- Header -->
<section id="header">
    <header>
        <span class="image avatar"><img src="~/img/ava.jpg" alt="" /></span>
        <h1 id="logo"><a href="#">@Config.MyName</a></h1>
        <p>@Config.MyProfession</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="#one" class="active">@AboutMe.Title</a></li>
            <li><a href="#two">@skills.Title</a></li>
            <li><a href="#three">@experience.Title</a></li>
            <li><a href="#four">@education.Title</a></li>
        </ul>
    </nav>
    @*<footer>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>*@
</section>

<!-- Wrapper -->
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <!-- One -->
        <section id="one">
            <div class="image main" data-position="center">
                <img src="~/img/main.jpg" alt="" />
            </div>
            <div class="container">
                <header class="major">
                    <h2>@AboutMe.Title</h2>
                    <p>
                        @AboutMe.Subtitle
                    </p>
                </header>
                <p>@AboutMe.Text</p>
            </div>
        </section>

        <!-- Two -->
        <section id="two">
            <div class="container">
                <h3>@skills.Title</h3>
                <p>@skills.Subtitle</p>
                <cache>
                    @(await Component.InvokeAsync<SkillsViewComponent>())
                </cache>
            </div>
        </section>

        <!-- Three -->
        <section id="three">
            <div class="container">
                <h3>@experience.Title</h3>
                <p>@experience.Subtitle</p>
                <cache>
                    @(await Component.InvokeAsync<ExperienceViewComponent>())
                </cache>
            </div>
        </section>

        <!-- Four -->
        <section id="four">
            <div class="container">
                <h3>@education.Title</h3>
                <p>@education.Subtitle</p>
                <div class="features">
                    <cache>
                        @(await Component.InvokeAsync<EducationViewComponent>())
                    </cache>
                </div>
                @*<form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall"><input type="text" name="name" id="name" placeholder="Name" /></div>
                            <div class="col-6 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Email" /></div>
                            <div class="col-12"><input type="text" name="subject" id="subject" placeholder="Subject" /></div>
                            <div class="col-12"><textarea name="message" id="message" placeholder="Message" rows="6"></textarea></div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" class="primary" value="Send Message" /></li>
                                    <li><input type="reset" value="Reset Form" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>*@
            </div>
        </section>
    </div>
    <!-- Footer -->
    @await Html.PartialAsync("FooterPartial")
</div>